<% if(locals.error){%>
    <div class="alert alert-danger">
        <%= locals.error %>
       <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
       
    </div>
   <%}%>