


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">CargoZen</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
        <% if (locals.user) { %>
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <div class="circular--portrait"> <img src="<%=  JSON.stringify(user.profileImageURL)  %> "/>Dropdown<%=  JSON.stringify(user.fullName)  %> </div>
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a href="/user/signup" class="dropdown-item">Create user</a></li>
              <li><a class="dropdown-item" href="/user/logout">logout</a></li>
              <!-- <li><a class="dropdown-item" href="/feed">dsjn</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li> -->
              <li  id="google_translate_element"></li>
            </ul>
          </li>

        </ul>
        <% } else{%>
            <ul class="navbar-nav">
           
            <li><a href="/user/signin" class="button">Signin</a></li>
            <li  id="google_translate_element"></li>
            </ul>
            <%}%>
      </div>
    </div>
  </nav>