<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/link") %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- <link rel="stylesheet" href="css/core.css"> -->
</head>
<body>
    <!-- <link rel="stylesheet" href="css/core.css"> -->
     
    <%- include("./partials/nav") %>
    <%= JSON.stringify(user)  %>

</body>
</html>