<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CargoZen - Signup</title>
 
    <%- include("./partials/link") %>
    <link rel="stylesheet" href="/css/login.css">
</head>

<body class="signup">
    
 

    <div class="signup-container login-container">
        <form id="signup-form" action="/user/signup" method="post">
            <h2>Sign Up</h2>
            <input type="text"name="fullName" id="txt-cat-name" placeholder="Full Name" required>
            <input type="text"name="vno" id="txt-cat-name" placeholder="truck no" required>
            <input type="email" name="email" id="txt-cat-name" placeholder="Email" required>
            <input type="password" name="password" for="password" id="txt-cat-name" placeholder="Password" required>
            
            <button class="save-btn" type="submit">Sign Up</button>
        </form>
    </div>
    <script src="app.js"></script>
</body>
</html>