<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verification-page</title>
    <link rel="stylesheet" href="/css/core.css">
</head>
</head>
<body>
    
    <div class="mainl">
        <div class="cen">
           <center><h1>Verification</h1></center> 
            <form action="/user/verify" method="post">
                <div id="message-form"></div>
                <label for="email">Email</label>
                <input type="text"name="email" id="txt-cat-name" placeholder="Enter email">
                
                <div class="action" >
                    <button class="save-btn" type="submit">Verify</button>
                </div>
            </form> 
           
        </div>
    </div>
</body>
</html>